.main-container {
    text-align: center;
}

table {
    border: 1px solid black;
    border-collapse: collapse;
    margin: 20px auto;
}

td, th, tr {
    border: 1px solid black;
    margin: 0px;
    padding: 5px;
}